<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <div class="row">
    <div class="col-md-4" *ngFor="let produit of produits">
      <div class="card m-3" style="width: 18rem;">
        <img [src]="produit.photo" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title" class="text-muted text-center">{{produit.nomProduit}}</h5>

          <div class="d-flex justify-content-between">
            <div [ngStyle]="{'cursor':'pointer'}">
              <span class="text-muted">Ajouter au panier </span>
              <fa-icon class="text-success" [icon]="faCart" size="1x"></fa-icon>
            </div>
            <div [ngStyle]="{'cursor':'pointer'}">
              <span class="text-muted">Détails </span>
              <fa-icon class="text-warning" [icon]="faEye" size="1x"></fa-icon>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->
</div>
